@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

body {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    /* background-image:url('{{ STATIC_URL }}images/plane.png'); */
    background-repeat:no-repeat;
    background-size:100%;
}

html,
body {
    height: 100%
}

::selection {
    background-color: #f7639a;
    color: #ffffff;
}

::-moz-selection {
    background-color: #f7639a;
    color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

a {
    color: #4c9cef;
}

a:hover,
a:active,
a:focus {
    color: #f7639a;
    text-decoration: none;
	outline: none;
}

p {
    line-height: 28px;
}

b {
	font-weight: 600;
}

ul,
li {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}

.no-padding {
    padding: 0
}

.pink-color {
	color: #f7639a !important;
}

.pink-color-bg {
	background-color: #f7639a !important;
}

.section-space-padding {
    padding: 100px 0px;
}

.section-title {
    text-align: center;

}

.section-title h2 {
    margin-top: 0;
    font-weight: 600;
    font-size: 30px;
}

.section-title p {
    font-weight: 400;
	line-height: 25px;
	margin-bottom: 40px;
}

.bg-cover {
	background-repeat: no-repeat;
}

.pattern-bg {
	background: url(../images/bg/pattern-bg.png);
	background-repeat: repeat;
}

.grabbing {
	cursor: url(../images/owl-carousel/grabbing.png) 8 8, move;
}

.divider > i {
	color: #000000;
	font-size: 21px;
}

.divider {
	position: relative;
	width: 126px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}

.divider:after,
.divider:before {
	content: ' ';
	width: 43px;
	position: absolute;
	border-bottom: dotted 2px #ffffff;
	top: 50%;
	margin-top: -4px;
}

.divider:before {
	left: 0;
}

.divider:after {
	right: 0;
}

.divider.dark:after,
.divider.dark:before {
	border-color: #b2b2b2;
}

.button {
	border: none;
	border-radius: 5px;
	font-family: inherit;
	font-size: 17px;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 20px 60px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.button:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.button-style {
	border: 3px solid #fff;
	color: #fff;
}

.button-style:hover,
.button-style:active,
.button-style:focus {
	color: #ffffff;
	background: #4c9cef;
}

.button-style-color-2:hover,
.button-style-color-2:active,
.button-style-color-2:focus {
	color: #ffffff;
	background: #f7639a !important;
}

.button-style-dark {
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
}


/* Home Section and Navigation Menu */

.home-section {
    background: #f1f1f1;
    padding-top: 60px;
}

.table {
	margin-bottom: 0px;
}

.table a {
	color: #ffffff;
}

.table > tbody > tr > td {
	padding: 15px;
	border: 3px solid #e4e4e4;
}

.table tr > td {
	padding: 11px 13px;
}

tr:nth-child(1) > td {
	border-top:0px;
}

tr > td:nth-child(1){
	background-color: #ffffff;
	font-weight: 500;
	font-size: 13px;
	color: #888888;
	width: 140px;
}

tr > td:nth-child(2) {
	font-weight: 500;
	color: #ffffff;
	background: #4c9cef;
}

.header-top-area {

    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.logo {
    padding-top: 28px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: #000000;
}

.logo a {
    display: block;
    color: #000000;
    letter-spacing: 6px;
    font-weight: 600;
    font-size: 14px;
	border-bottom: 4px solid #f7639a;
    width: 92px;
}

.navigation-menu .navbar-nav li a {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 30px 15px;
    -webkit-transition: .3s;
    transition: .3s;
    font-weight: 600;
}

.navigation-menu .navbar-nav li a:hover {
    background: none;
    color: #000000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav li a:focus,
.nav li a:hover {
    background: none;
    color: #4c9cef;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar {
    margin: 0;
}

.navigation-background {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #000000;
}

.navigation-background .logo {
    padding-top: 18px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navigation-background .logo a {
	color: #000000;
}

.navigation-background .navigation-menu .navbar-nav li a {
    color: #fff;
    padding: 20px 15px;
    -webkit-transition: .3s;
    transition: .3s;
}

.navigation-background .navigation-menu .navbar-nav li a:hover {
    color: #fff;
}


/* Services */

.services-section {
  background-color: #F9F999;

}

.services-section hr {
  border-bottom: 2px solid #4c9cef;
  width: 42px;
  margin: 0 auto;
}

.services-section .services-detail {
    border-radius: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 2px 0px rgb(152,251,152);
    transition: all 0.3s ease-in-out;
    position: relative;
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    cursor: pointer;
}

.services-section .services-detail:hover {
    border-bottom-right-radius: 4px;
    box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
    top: -5px;
}

.services-section .services-detail i {
   font-size: 42px;
   margin-top: 88px;
   display: inline-block;
   vertical-align: middle;
}



/* Social Icons */

.social-icon {
  list-style: none;
  padding-left: 0;
  margin: 0;
  text-align: center;
}

.social-icon:before,
.social-icon:after {
  content: " ";
  display: table;
}

.social-icon:after {
  clear: both;
}

.social-icon li {
  display: inline-block;
  margin: 2px 4px;
}

.social-icon li a {
  display: block;
  width: 60px;
  height: 60px;
  line-height: 66px;
  color: #fff;
  text-align: center;
  border: 0 none;
  border-radius: 50%;
  font-size: 27px;
  box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
  transition: all 0.3s ease-in-out;
}

.social-icon li a:hover {
   box-shadow: 0px 8px 15px 0px rgba(90, 91, 95, 0.33);
}

.facebook {
   background-color: #3b5998;
}

.twitter {
   background-color: #1da1f2;
}

.google-plus {
   background-color: #dd4b39;
}

.instagram {
   background-color: #464545;
}

.linkedin {
   background-color: #0077b5;
}

.pinterest {
   background-color: #bd081c;
}

.youtube {
   background-color: #cd201f;
}

.vimeo {
   background-color: #1ab7ea;
}

.dribbble {
   background-color: #ea4c89;
}

.behance {
   background-color: #1769ff;
}

.flickr {
   background-color: #ff0084;
}

.tumblr {
   background-color: #35465c;
}

.foursquare {
   background-color: #f94877;
}

.github {
   background-color: #ffffff;
}

.skype {
   background-color: #ffffff;
}



/* Footer */

.footer-section {
    background-color: #FFFFFF;
	background-repeat: repeat;
    padding: 80px 0px;
    color: #000000;;
}

.footer-section p {
    font-size: 14px;
}



/* Scroll To Top */

.scroll-to-top {
    background-color: #4c9cef;
    display: none;
    width: 60px;
    height: 60px;
    font-size: 25px;
	border-radius: 100%;
    line-height: 67px;
    text-align: center;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 30px;
    z-index: 999;
    box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
    transition: all 0.3s ease-in-out;
}

.scroll-to-top:hover,
.scroll-to-top:focus {
    background-color: #f7639a;
    color: #ffffff;
    box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
}



/* Responsive */

@media only screen and (max-width: 1199px) {
	.experience-circle i {
		font-size: 30px;
	}

	.experience-content{
		margin-left: 75px;
	}

	.experience-content:after,
	.experience-content:before {
		top: 30%;
	}
}


@media only screen and (min-width: 767px) and (max-width: 991px) {
    .navigation-menu .navbar-nav li a {
        padding: 30px 11px;
        font-size: 12px;
    }

	.navigation-background .navigation-menu .navbar-nav li a {
        padding: 30px 11px;
        font-size: 12px;
    }

	.navigation-background .logo {
		padding-top: 28px;
	}

	.margin-left-setting {
		margin-left: 0px !important;
	}
}


@media only screen and (max-width: 991px) {
     .call-to-action h2 {
        font-size: 20px;
	 }
}


@media only screen and (max-width: 767px) {
    .navbar-toggle .icon-bar {
        background: #f7639a;
    }

	.navigation-background .navbar-toggle .icon-bar {
        background: #ffffff;
    }

	.navbar-toggle {
        margin-right: 0px;
        margin-top: -30px;
    }

	.navbar {
        min-height: 0px;
    }

	.navigation-menu .navbar-nav li a {
        padding: 11px 15px;
		color: #ffffff;
    }

	.navigation-menu .navbar-nav li a:hover {
        color: #ffffff;
    }

	.navigation-background .navigation-menu .navbar-nav li a:hover {
        color: #ffffff;
    }

	.navigation-background .navigation-menu .navbar-nav li a {
        padding: 11px 15px;
    }

	.navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: 420px;
    }

	.navbar-toggle {
        margin-top: -30px;
    }

	.navbar-collapse {
        background: #4c9cef;
    }

	.navigation-background .navbar-collapse {
        background: #4c9cef;
    }

	.section-title h2 {
        font-size: 22px;
    }

	.owl-prev {
        left: 5px;
    }

	.owl-next {
        right: 5px;
    }

	.scroll-to-top {
        width: 45px !important;
        height: 45px !important;
        font-size: 20px !important;
        line-height: 52px !important;
        right: 8px !important;
        bottom: 15px !important;
    }
}


@media only screen and (max-width: 555px) {
	.social-icon li a {
         width: 40px;
         height: 40px;
         line-height: 44px;
         font-size: 16px;
      }

     .section-title h2 {
         font-size: 16px;
		 font-weight: 500;
       }

      .section-title p {
         font-weight: 300;
         font-size: 12px;
      }

	  .statistics-content > h5 {
        font-size: 20px;
      }

      .statistics-content > span {
        font-size: 10px;
      }

      .statistics-icon {
        font-size: 30px;
      }

      .services-section hr {
          width: 35px;
      }

	  .services-section h3 {
          font-size: 12px;
      }

      .services-section .services-detail {
          width: 180px;
          height: 180px;
      }

      .services-section .services-detail i {
          font-size: 30px;
          margin-top: 45px;
      }

      .owl-theme .owl-controls .owl-buttons div {
          padding: 6px 10px;
          width: 40px;
          height: 40px;
          line-height: 36px;
		  font-size: 8px;
       }

      .contact-us-detail {
          left: 30%;
       }
}


@media only screen and (max-width: 500px) {
	.experience {
		margin-left: 0px;
		border: 0px;
	}

	.experience-circle {
		margin: 0 auto;
		position: static;
		margin-bottom: 20px;
	}

	.experience-content {
		padding: 10px 15px;
		margin-left: 0px;
		text-align: center;
	}

	.experience-content:after,
	.experience-content:before {
		display: none;
	}
}


@media only screen and (max-width: 449px) {
	   .button {
		   font-size: 13px;
		   padding: 14px 28px;
		   font-weight: 600;
	   }

	   .contact-us-detail {
          left: 25%;
       }
}



/* Useful Classes */


/* Spacing ( with Margin and Padding ) */

/* Margin */

.margin-0 {
	margin: 0px !important;
}

/* Margin Top */



.margin-top-30 {
	margin-top: 30px !important;
}


/* Colors */

.color-1 {
	color: #000000;
}




/* UiPasta Credit */

.uipasta-credit {
	color: #333333;
	text-align: center;
}

.uipasta-credit a {
	color: #4c9cef;
	font-weight: 600;
}

.uipasta-credit a:hover {
	color: #f7639a;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
