{% extends 'base.html'%}
{% load bootstrap3 %}
{% load static %}
{% block content %}

<div class="container">
  <center><form role="search" style="margin-bottom:15px;" action="{% url 'search_business' %}">
  <input type="text" placeholder="Type business" name="business">
  <button type="submit"><i class="fa fa-search"></i></button>
  </form> <a href="{% url 'new_business' neighbour.id%}"> <button>add business</button></a></center>

  <div class="row" >
   <div class="col-md-6" style='border:1px solid black; margin:3px'>


      <p>Name: {{neighbour.neighbourhood_name}}</p>
      <p>Location: {{neighbour.neighbourhood_location}}</p>
      <img src="{{neighbour.area.cdn_url}}"  class='img-responsive'
        alt="neighbourhood">

  </div>
 <div class="col-md-6" style='border:1px solid black; margin:3px'>

<h1>businesses</h1>
 {% if biz %}
   {% for business in biz %}

      <h1>Name: {{business.business_name}}</h1>
      <h1>contact: {{business.business_emails}}</p>

  </div>
{% endfor %}

{%endif%}
</div>
  </div>

{% endblock %}
