{% extends 'base.html'%}
{% load bootstrap3 %}
{% load static %}
{% block content %}



  <!-- Services Start -->
  <section id="photos" class="services-section section-space-padding" s>
      <div class="container">
         <div class="row">
              <div class="col-sm-12">
                  <div class="section-title"  style='color:#000000;'>
                      <h2 style='margin:0;padding:0;'>JIRANI HOODS</h2>
                        <div class="divider dark">
					   <i class="icon-drop" style='color:#00ff41;' ></i>
					 </div>
           <form role="search" action="{% url 'search' %}">
     <input type="text" placeholder="Type a project title" name="title">
     <button type="submit"><i class="fa fa-search"></i></button>
   </form>        </div>
              </div>
          </div>


<div class="row margin-top-30"  data-toggle="modal" data-target="#{{pic.id}}">
  {% if neighbour %}
{% for pic in neighbour %}


				</div>
			</div>
      {% endfor %}
      {% else %}
      <p>Nothing has been posted for now</p>
      {% endif %}

            
    </section>


         <footer class="footer-section">
             <div class="container">
                 <div class="row">

                 <div class="col-md-12">
                   <ul class="social-icon margin-bottom-30">
                      <li><a href="#" target="_blank" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#" target="_blank" class="instagram"><i class="fab fa-instagram"></i></i></a></li>
                      <li><a href="#" target="_blank" class="dribbble"><i class="fab fa-dribbble"></i></a></li>
                    </ul>
               </div>

                  <div class="col-md-12 uipasta-credit">
                     <p style='color: #00ff41;'>Design By brighton </a>
                     </div>

                  </div>
             </div>
         </footer>
         <!-- Footer End -->


         <!-- Back to Top Start -->
         <a href="#" class="scroll-to-top"><i class="icon-arrow-up-circle"></i></a>
         <!-- Back to Top End -->


{% endblock %}
