
    <!-- Home Section Start -->
    <section class="home-section">
        <div class="container">
            <div class="row">

                 <div class="col-sm-offset-2 col-md-4 col-sm-6 margin-left-setting">
                    <div class="margin-top-150">

                     <div class="table-responsive">
					    <table class="table">
							<tr>
							    <td>Name</td>
								<td>brbr</td>
							 </tr>
                             <tr>
								<td>Email</td>
								<td>rbnbrnbe</td>
							</tr>
							<tr>
								<td>jshdjshjd</td>
								<td>hgghgh</td>
							 </tr>
							<tr>
								<td>jhjhjhj</td>
								<td>hhjhjhkh</td>
							</tr>
							<tr>
								<td>hhkhkhkh</td>
								<td>hhkhkhk</td>
							</tr>

						</table>
					  </div>
                     </div>
                   </div>


              </div>
            </div>
        </section>
        <!-- Home Section End -->
