{% extends 'base.html'%}
{% load bootstrap3 %}
{% load static %}
{% block content %}



<center><form role="search" style="margin-bottom:15px;" action="{% url 'search' %}">
<input type="text" placeholder="Type neighbourhood" name="neighbourhood">
<button type="submit"><i class="fa fa-search"></i></button>
</form></center>

<div class="container">
  <div class="row" >
 {% if neighbour %}
 {% for pic in neighbour %}

 <div class="col-md-3" style='border:1px solid black; margin-right:50px'>



   <img src="{{pic.area.cdn_url}}"  class='img-responsive'
     alt="neighbourhood" style='margin-top:10px;'>
   <!-- <figcaption> -->
 <p>Name: {{pic.neighbourhood_name}}</p>
 <p>Location: {{pic.neighbourhood_location}}</p>
<a href="{%url 'all' pic.id %}"><button style='align:right;margin-bottom:5px'>join neighbourhood</button></a>

 </div>
   {% endfor %}
 </div>
</div>



      {% else %}
      <p>no business</p>
      {% endif %}




         <footer class="footer-section">
             <div class="container">
                 <div class="row">

                 <div class="col-md-12">
                   <ul class="social-icon margin-bottom-30">
                      <li><a href="#" target="_blank" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#" target="_blank" class="instagram"><i class="fab fa-instagram"></i></i></a></li>
                      <li><a href="#" target="_blank" class="dribbble"><i class="fab fa-dribbble"></i></a></li>
                    </ul>
               </div>

                  <div class="col-md-12 uipasta-credit">
                     <p style='color: #00ff41;'>Design By brighton </a>
                     </div>

                  </div>
             </div>
         </footer>
         <!-- Footer End -->


         <!-- Back to Top Start -->
         <a href="#" class="scroll-to-top"><i class="icon-arrow-up-circle"></i></a>
         <!-- Back to Top End -->


{% endblock %}
